# Default ignored files
/workspace.xml

# vscode ideo folders
importdb/__pycache__
__pycache__/
.idea
/model/__pycache__/
/app/__pycache__/
#sobre as telas
tela_cristian.txt
screens/
/model/duvidas.txt
awsflavia
app/database/connection-aws-db.json
Pipfile
Pipfile.lock
app/database/connection.json

#csvs databases
app/database/inputs/acesso_permitido.csv
app/database/inputs/docente.csv
app/database/inputs/campus_instituto.csv
app/database/inputs/curso.csv
app/database/inputs/discente.csv
app/database/inputs/disciplina.csv
app/database/inputs/protocolo.csv
app/database/inputs/recurso_campus.csv
app/database/inputs/solicitacao_acesso.csv
app/database/inputs/tecnico.csv
app/database/inputs/usuario.csv
